In [2]:
from tetanggamasagitu import KNeighborsClassifier
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [3]:
# Load dataset
iris = datasets.load_iris()

df = pd.DataFrame(data=np.c_[iris['data'], iris['target']], columns=iris['feature_names'] + ['target'])

In [4]:
# Describe Dataset

df.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [5]:
X = df.iloc[:,:-1]
y = df.iloc[:, -1]

In [6]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: target, dtype: float64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
K = 3
my_model_knn = KNeighborsClassifier(k=K)
my_model_knn.fit(X_train, y_train)
y_pred_my_model = my_model_knn.predict(X_test)
print(y_pred_my_model)

[np.float64(1.0), np.float64(0.0), np.float64(2.0), np.float64(1.0), np.float64(1.0), np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(1.0), np.float64(1.0), np.float64(2.0), np.float64(0.0), np.float64(0.0), np.float64(0.0), np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(1.0), np.float64(1.0), np.float64(2.0), np.float64(0.0), np.float64(2.0), np.float64(0.0), np.float64(2.0), np.float64(2.0), np.float64(2.0), np.float64(2.0), np.float64(2.0), np.float64(0.0), np.float64(0.0)]

In [13]:
print(f"Akurasinyaa: {accuracy_score(y_test, y_pred_my_model)}")

Akurasinyaa: 1.0

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn_sklearn = KNeighborsClassifier()
knn_sklearn.fit(X_train, y_train)
y_pred_sklearn = knn_sklearn.predict(X_test)

In [23]:
print(f"Akurasi Model: {accuracy_score(y_test, y_pred_sklearn)}")

Akurasi Model: 1.0

In [24]:
print(y_pred_my_model==y_pred_sklearn)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True]